<!DOCTYPE html>
<html>
<head data-th-replace="~{fragments/head :: head(title='Login')}" />
<body>

  <div data-th-if="${param.error}">Invalid username and password.</div>
  <div data-th-if="${param.logout}">You have been logged out.</div>

  <form class="pure-form pure-form-stacked" method="post" data-th-action="@{/login}">
    <label>User Name<input type="text" name="username"/></label>
    <label>Password<input type="password" name="password"/></label>
    <input class="pure-button" type="submit" value="Sign in"/>
  </form>
</body>
</html>