<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person List</title>
</head>
<body>

  <h1>Person List</h1>

  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Birthday</td>
        <td>Height</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.birthday}"></td>
        <td th:text="${person.height}"></td>
        <td><a th:href="@{'person/edit/' + ${person.id}}">Edit person</a></td>
      </tr>
    </tbody>
  </table>
  
  <a th:href="@{person/edit}">New person</a>

</body>
</html>