<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Person List')}" />
<body>

  <h1>Person List</h1>

  <a class="pure-button" th:href="@{person/edit}">New person</a>

  <table class="pure-table">
    <thead>
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Birthday</td>
        <td>Height</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${#temporals.format(person.birthday, 'dd/MM/yyyy')}"></td>
        <td th:text="${person.height}"></td>
        <td><a class="pure-button" th:href="@{'person/edit/' + ${person.id}}">Edit</a></td>
      </tr>
    </tbody>
  </table>
 
  <form th:action="@{/logout}" method="post">
    <input class="pure-button" type="submit" value="Sign out"/>
  </form> 
</body>
</html>