@charset "UTF-8";

body {
	padding: 20px;
	font-family: 'Roboto', sans-serif;
}

input, button, a {
	display: inline-block;
	border: solid 1px #ccc;
	border-radius: 4px;
	padding: 10px;
	font-size: inherit;
}

input[type=text]:read-only:not(:disabled) {
	color: gray;
	background-color: whitesmoke;
}

button, a {
	background-color: #eee;
}

a {
	color: inherit;
	text-decoration: none;
}

form label,
form input,
form button {
	display: block;
	margin: 10px 5px;
}

table {
	border-collapse: collapse;
	margin: 10px 5px;
}
	
table th,
table td {
	border: solid 1px #ccc;
	padding: 10px;
}

table th {
	background-color: #ddd;
}

table a {
	margin: 0;
}

.error {
	color:red;
	margin: 10px 5px;
}